@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif; 

}

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

@font-face {
    font-family: 'Burbank';
    src: url('../fontes/Burbank\ Big.ttf') format('treutype');
}



/* variaveis */
:root{
    --cor0: #F3E5F5;
    --cor1: #CE93D8;
    --cor2: #AB47BC;
    --cor3: #8E24AA;
    --cor4: #6A1B9A;
    --cor5: #ffae05;
    
      
    --fonte-geral: Arial, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-principal: 'Limelight', sans-serif;
    --fonte-desine: 'Burbank', cursive;
  
}

a.externo::after {
    content: '\1F9F7';
}

body {
    background-color: lightgrey;
}

header {
    height: 90px;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to bottom,#8E24AA,  #6A1B9A);
    color: white;  
}

header h1 {
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
}

header p {
    padding: 10px;
    font-size: 1em;
}

nav {
    background-color: var(--cor4);
    height: 30px;
    padding: 5px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    text-decoration: underline;
    background-color: var(--cor3);
    color: var(--cor0);
}

main {
    max-width: 800px;
    margin: auto;
    background-color: var(--cor0);
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
main img {
    width: 100%;
}

footer {
    height: 25px;
    text-align: center;
    color: white;
    font-family: var(--fonte-principal);
    background-color: var(--cor4);
    padding: 5px;
    margin-top: 15px;

}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
    background-color: var(--cor3);
    color: var(--cor0);
    padding-left: 4px;

}