@charset "UTF-8";

* {
    margin: 0;  
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
:root {
    --cor1: #f3e5f5;
    --cor2: #ce03d8;
    --cor3: #ab47bc;
    --cor4: #8e24aa;
    --cor5: #6a1b9a;


}
body {

    background-color: var(--cor4);
}

header {
    text-align: center;
}
header  h1 {
    color: var(--cor1);
    text-align: center;
    padding: 30px;
}

#menu-item {
    color: var(--cor1);
    cursor: pointer;
    
}

menu {
    display: none;
}
ul {
    display: block;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

li {
    list-style-type: none;
    
}

ul > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: var(--cor1); 
    border-radius: 10px;
    transition-duration: .5s;
  
}

ul > li > a:hover {
    
    text-decoration: underline;
    background-color: var(--cor3);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
}

main {
    width: 100vw;
    height: 71vh; 
    background: url('../imagens/logo.png') no-repeat center center;
    background-size: contain;
}

footer {
    color: var(--cor1);
    text-align: center;
    

}
footer a {
    display: inline-block;
    text-decoration: none;
    padding: 7px;
    color: var(--cor1);
    font-weight: bolder;
    border-radius: 10px;
}

footer a:hover {
    text-decoration: underline; 
    background-color: var(--cor3);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
}
